[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/JuanDeccechis
[access "refs/for/refs/*"]
	read = group TDVClase
	read = group user/JuanDeccechis
	push = group TDVClase
	push = group user/JuanDeccechis
	label-Code-Review = -2..+2 group TDVClase
	label-Code-Review = -2..+2 group user/JuanDeccechis
	label-Verified = -1..+1 group TDVClase
	label-Verified = -1..+1 group user/JuanDeccechis
	rebase = group user/JuanDeccechis
	removeReviewer = group user/JuanDeccechis
	submit = group user/JuanDeccechis
[access "refs/heads/*"]
	read = group TDVClase
	read = group user/JuanDeccechis
	create = group user/JuanDeccechis
	push = group TDVClase
	push = +force group user/JuanDeccechis
	pushMerge = group TDVClase
	pushMerge = group user/JuanDeccechis
[access "refs/tags/*"]
	push = group TDVClase
	push = group user/JuanDeccechis
	push = +force group user/JuanDeccechis
